<!-- All article -->

<div class="col-md-3 d-flex align-items-stretch">
    <div class="card">

        <img src="{{ page.image}}" class="card-img-top" alt="{{ page.imagealt}}">

        <div class="card-body">
            <a href="{{page.url}}">
                <h5 class="card-title text-primary">{{page.title}}</h5>
            </a>
            <div class="card-subtitle mb-3 text-secondary">{{page.excerpt | truncatewords: 10}}</h6>

                {% include render-tags.html %}

            </div>
        </div>
    </div>
</div>
<!-- All article -->