<section class="py-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="row">
                    <div class="col-4">
                        <a href="https://badmintonbuddy.com">
                            <img class="img-fluid" src="/assets/img/footer-logo-w.png" alt="Badmintonbuddy logo">
                        </a>
                    </div>
                    <div class="col-8">
                        <p class="text-white bold my-2">Simple, Creative & Innovative APPS and Softwares for badminton.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <a href="https://apps.apple.com/in/app/badmintonbuddy-drive/id1483826920">
                    <img class="img-fluid" src="/assets/img/appstore.png">
                </a>

            </div>
            <div class="col-md-2  mb-4">
                <a href="https://play.google.com/store/apps/details?id=com.badminton.academyapp">
                    <img class="img-fluid" src="/assets/img/googleplay.png">
                </a>
            </div>
        </div>
    </div>
</section>