<nav class="navbar navbar-light navbar-expand-lg bg-white shadow sticky-top px-2 py-0">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}"> -->
      <a class="navbar-brand" rel="author" href="https://badmintonbuddy.com">
      <img src="/assets/img/logo_new.png" width="100" alt="">
      <!-- {{ site.title | escape }} -->      
    </a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <!-- <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a> -->
            <a class="nav-link" href="https://badmintonbuddy.com">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%}
        <li class="nav-item">
          <a class="nav-link font-weight-bolder text-body text-uppercase small" href="https://badmintonbuddy.com">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bolder text-body text-uppercase small" href="https://badmintonbuddy.com/#features">FEATURES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bolder text-body text-uppercase small" href="https://badmintonbuddy.com/#testmonials">TESTIMONIALS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bolder text-body text-uppercase small" href="/">RESOURCES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bolder text-body text-uppercase small" href="/faq">FAQ</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bolder text-body text-uppercase small" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            RESOURCES
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item text-uppercase small" href="/blog">BLOG</a>
            <a class="dropdown-item text-uppercase small" href="/drive/guide">Guides & Tutorials</a>
            <a class="dropdown-item text-uppercase small" href="/whats-new">What's new</a>
            <a class="dropdown-item text-uppercase small" href="/faq">FAQ</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link font-weight-bolder text-body text-uppercase small" href="https://badmintonbuddy.com/#contact">CONTACT US</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link font-weight-bolder mx-2" href="/search">
            <i class="fa fa-search fa-lg"></i>
          </a>
        </li>    
      </ul>
    </div>
  </div>
</nav>