<div class="row">
    <div class="col-12">
        <h4>Latest blogs</h4>
    </div>
    {% for page in site.posts|limit:4%}
    {% if page.categories contains 'blog' %}
        <div class="col-12 d-flex flex-wrap">
            <a href="{{page.url}}">{{page.title}}</a>
        </div>
        <div class="col-12 d-flex flex-wrap">
            <p class="small text-muted">{{page.excerpt | truncatewords: 10}}</p>

        </div>
        <hr class="my-1 col-10">
    {% endif %}
    {% endfor %}

</div>