<div class="row m-2">
    <div class="col-12 jumbotron jumbotron-fluid p-3 text-center">
        <div class="row">
            <div class="col-12">
                <h3>Join <span class="text-success">150+ academies</span> who are already using Badmintonbuddy DRIVE</h3>
            </div>
            <div class="col-12">
                <!-- <div class="row"> -->
                    <!-- <div class="col-6"> -->
                        <a href="https://apps.apple.com/in/app/badmintonbuddy-drive/id1483826920"><img src="/assets/img/appstore.png" alt="Image" height="54" class="m-2"></a>
                    <!-- </div> -->
                    <!-- <div class="col-6"> -->
                        <a href="https://play.google.com/store/apps/details?id=com.badminton.academyapp"><img src="/assets/img/googleplay.png" alt="Image" height="54" class="m-2"></a>
                    <!-- </div> -->
                <!-- </div> -->
            


            </div>
        </div>
    </div>
</div>