<div class="row">
    <div class="col-12">
        <h6>ALL POSTS</h6>
    </div>
    {% for page in site.posts%}
    {% if page.categories contains 'blog' and page.position != 'hero'%}

        <div class="col-4 col-xs-12 mb-3">
            <img src="{{page.image}}" class="card-img-top" alt="{{ page.imagealt}}">
            <a href="{{page.url}}"><h6 class="text-primary mt-2 mb-0">{{page.title | truncatewords: 10}}</h6></a>
            <p class="small text-muted">{{page.excerpt  | truncatewords: 7 }}</p>
            <p class="small text-muted">{{page.date | date: '%b %d' | upcase  }}</p>
        </div>

{% endif %}

    {% endfor %}

</div>