
<!-- <form method="post" action="https://sendfox.com/form/m4g7k0/m40njl" class="sendfox-form" id="m40njl" data-async="true" data-recaptcha="true">
    <p>
        <label for="sendfox_form_academy_name">Academy Name: </label>
        <input type="text" id="sendfox_form_academy_name" name="contact_fields[academy_name]" placeholder="Academy Name" />
    </p>
    <p>
        <label for="sendfox_form_email">Email: </label>
        <input type="email" id="sendfox_form_email" placeholder="Email" name="email" required />
    </p>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
    <p><button type="submit">Subscribe</button></p>
    </form>
<script src="https://sendfox.com/js/form.js"></script> -->


<!-- Bootstrap integrated -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Subscribe and get the latest updates and insights</h5>
        <form method="post" action="https://sendfox.com/form/m4g7k0/m40njl" class="sendfox-form" id="m40njl" data-async="true" data-recaptcha="true">
            <div class="form-group">
                <label for="sendfox_form_email">Your Email</label>
                <input type="email" class="form-control" id="sendfox_form_email" placeholder="Email address" name="email" required />
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <!-- <div class="form-group">
                <label for="sendfox_form_academy_name">Name (optional)</label>
                <input type="text" class="form-control" id="sendfox_form_academy_name" name="contact_fields[academy_name]" placeholder="Name" />        
            </div> -->
            <!-- no botz please -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
            <!-- Button type -->
            
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
        <script src="https://sendfox.com/js/form.js"></script>
    </div>
</div>
<!-- Bootstrap integrated -->

                