<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",    
    "headline": "{{ page.title | escape }}",
    "description": "{{ page.excerpt | strip_html | escape }}",
    "keywords": "{{ page.tags | join: ', ' }}",
    "image": [
      "{{ site.url }}{{ page.image }}"
    ],
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}/assets/img/logo_new.png"
      }
    }
        
  }
  </script>
  