---
layout: bb_default
title: All blogs related to badminton and badmintonbuddy
permalink: /blog
---

<div class="container">
    <!-- Hero Article -->
    {% for page in site.posts%}
    {% if page.categories contains 'blog' and page.position == 'hero'%}
    {% include jumbotron.html %}
    {% endif %}
    {% endfor %}
    <!-- Hero Article -->

    <!-- Featured Article (Only 3) -->
    <div class="row">
        <p class="lead col-12">Featured articles</h3>
    </div>

    <div class="row">
        {% for page in site.posts%}
        {% if page.categories contains 'blog' and page.position == 'featured'%}
        {% include featured.html %}
        {% endif %}
        {% endfor %}
        <!-- Featured Article -->
    </div>

    {% include promo-box.html %}

    <!-- Other Articles -->
    <div class="row">
        <p class="lead col-12">Latest articles</h3>
    </div>
    <div class="row">
        {% for page in site.posts%}
        {% if page.categories contains 'blog' and page.position != 'featured' and page.position != 'hero'%}
        {% include article-overview.html %}
        {% endif %}
        {% endfor %}
    </div>
    <!-- Other Articles -->
    <div class="row mt-2">
        <div class="col-12">
            <a href="/category/blog" class="btn btn-primary">ALL BLOGS <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>