---
layout: bb_default
title: A detailed guide on how to use Badmintonbuddy DRIVE
permalink: /drive/guide
redirect_from:
    /drive
---

<div class="container">
    <!-- Hero Article -->
    {% for page in site.posts%}
    {% if page.categories contains 'guide' and page.position == 'hero'%}
    {% include jumbotron.html %}
    {% endif %}
    {% endfor %}
    

    <!-- Other Articles -->
    <div class="row">
        <p class="lead col-12">ALL GUIDE ARTICLES</h3>
    </div>
    <div class="row">
        <ul>
        {% for page in site.posts%}
        {% if page.categories contains 'guide' and page.position != 'hero'%}
        <li>
        <a href="{{page.url}}">{{page.title}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    </div>
   
</div>