---
layout: bb_default
title: A detailed guide on how to use Badmintonbuddy DRIVE
permalink: /drive/guide
redirect_from:
    /drive
---

<div class="container">    
    <!-- Hero Article -->
    {% for page in site.posts%}
        {% if page.categories contains 'guide' and page.position == 'hero'%}
            {% include jumbotron.html %}
        {% endif %}
    {% endfor %}
    <!-- Hero Article -->

    <div class="row">
        <!-- Featured Article (Only 3) -->
        {% for page in site.posts%}
            {% if page.categories contains 'guide' and page.position == 'featured'%}
                {% include featured.html %}
            {% endif %}
        {% endfor %}
        <!-- Featured Article -->  
    </div>    

    {% include promo-box.html %}

    <!-- Other Articles -->
    {% for page in site.posts%}
        {% if page.categories contains 'guide' and page.position != 'featured' and page.position != 'hero'%}
            {% include article-overview.html %}
        {% endif %}
    {% endfor %}
    <!-- Other Articles -->

    <!-- Curated Link list with Categories -->
    {% include linklist-guides.html %}
    <!-- Curated Link list with Categories -->
</div>