---
layout: bb_default
title: Tag page
---

<div class="container">
    <section>
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2> All posts for {{page.title}}</h2>
                {% for post in site.posts %}
                {% if post.tags contains page.tag or post.tag == page.tag %}
                <div class="row border-bottom pb-5">
                    <div class="col-md-4 d-none d-md-block">
                        <a href="{{post.url}}">
                            <img src="{{post.image}}" />
                        </a>
                    </div>
                    <div class="col-12 col-md-8">
                        <a href="{{post.url}}" class="h5">{{post.title}}</a>
                        <p class="lead">{{post.excerpt}}</p>
                    </div>
                </div>
                {% endif %}

                {% endfor %}
            </div>
        </div>


    </section>
</div>

