---
layout: bb_default
---
<div class="container">
  
  <div  class="mb-2">{% include breadcrumb.html %}</div>

  <article>
    <header>
      <h1>{{ page.title | escape }}</h1>
      <p class="lead text-body-secondary">{{ page.excerpt | escape }}</p>

      <p class="text-muted">
        {% include reading-time.html %} | <time datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </p>

      {% include render-tags.html %}

    </header>

    <section class="mt-3">

      <div class="row">
        <!-- Guide content -->
        <div class="col-12 col-lg-8">
          {% if page.image %}
          <div class="row">
            <div class="col-12 mb-4">
              <img alt="{{page.imagealt}}" src="{{page.image}}" />
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-12">
              {{ content }}
            </div>
            <div class="col-12">
              {% include sendfox-subscribe.html %}
            </div>
          </div>
        </div>
        <!-- Guide content -->

        <!-- Side nav visible on large screen only -->
        <div class="d-none d-md-block col-lg-4">
          {% include article-side-nav.html %}
        </div>
        <!-- Side nav visible on large screen only -->

      </div>
    </section>
  </article>
</div>