---
layout: bb_default
---
<div class="container">

  

  <div class="row">
    <div class="d-none d-sm-block col-sm-3">
      {% include guide-topic-nav.html %} 
    </div>
    <div class="col-12 col-sm-9">
  <div class="mb-2 small">{% include breadcrumb.html %}</div>

  <article>
    <header>
      <h1 class="font-weight-bold">{{ page.title | escape }}</h1>
      <p class="lead text-body-secondary">{{ page.excerpt | escape }}</p>

      <p class="text-muted">
        {% include reading-time.html %} | <time datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </p>

      <!-- {% include render-tags.html %} -->

    </header>

    
      <div class="row">
          <div class="col-12 col-md-10 mt-3">
            {{ content }}
          </div>
          <div class="col-12">
            {% include social-share.html %}
          </div>
      </div>



    
  </article>
</div>
</div>

</div>