---
layout: bb_default
---
<div class="container">
  <div class="row my-5 mx-5">
    <div class="col-sm mb-2">
      <a href="/drive/guide">
        <div class="card shadow" >
          <img src="/assets/img/home/rules.png" class="card-img-top px-5 pt-5" alt="Guides and Tutorials">
          <div class="card-body">
            <h5 class="card-title text-center">Guides and Tutorials</h5>            
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm mb-2">
      <a href="/blog">
        <div class="card shadow" >
          <img src="/assets/img/home/blogging.png" class="card-img-top px-5 pt-5" alt="Guides and Tutorials">
          <div class="card-body">
            <h5 class="card-title text-center">Blogs</h5>            
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm mb-2">
      <a href="/whats-new">
        <div class="card shadow" >
          <img src="/assets/img/home/whats-new.png" class="card-img-top px-5 pt-5" alt="Guides and Tutorials">
          <div class="card-body">
            <h5 class="card-title text-center">What's new</h5>            
          </div>
        </div>
      </a>
    </div>
  </div>

  {{content}}


</div>

