---
layout: bb_default
---

<!-- Hero Article -->
{% for page in site.posts%}
{% if page.categories contains 'blog' and page.position == 'hero'%}
{% include jumbotron.html %}
{% endif %}
{% endfor %}
<!-- Hero Article -->










<div class="row d-flex justify-content-center my-5 mx-5">
  <div class="col-sm-3 mb-3">
    <a href="/drive/guide">
      <div class="card shadow px-3">
        <img src="/assets/img/home/rules.png" class="card-img-top px-5 pt-5" alt="Guides and Tutorials">
        <div class="card-body">
          <h5 class="card-title text-center">Guides & Tutorials</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3 mb-3">
    <a href="/blog">
      <div class="card shadow px-3">
        <img src="/assets/img/home/blogging.png" class="card-img-top px-5 pt-5" alt="Guides and Tutorials">
        <div class="card-body">
          <h5 class="card-title text-center">Blogs</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3 mb-3">
    <a href="/whats-new">
      <div class="card shadow px-3">
        <img src="/assets/img/home/whats-new.png" class="card-img-top px-5 pt-5" alt="Guides and Tutorials">
        <div class="card-body">
          <h5 class="card-title text-center">What's new</h5>
        </div>
      </div>
    </a>
  </div>
  
</div>

{{content}}


</div>