---
layout: bb_default
---

<!-- Hero Article -->
{% for page in site.posts%}
{% if page.categories contains 'blog' and page.position == 'hero'%}
{% include jumbotron.html %}
{% endif %}
{% endfor %}
<!-- Hero Article -->

<hr/>

<!-- content section -->
<div class="row my-3">
  <div class="col-12 col-md-9">
    {% include recent-posts.html %}
    </div>
  <div class="col-12 col-md-3">    
      <h6>ALSO SEE</h6>
    <a href="{{site.url}}/drive/guide">Our guides</a>
  </div>
</div>
<!-- content section -->




{{content}}


</div>